<body>




    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class='row'>
            <div class='col-md-12'>
              <h1>Create a G-1145 Form</h1>
              <h3>e-Notification of Application/Petition Acceptance</h3>
              <p>This is a quick example on the integration between Rails and PDFtk.</p>
                <div class='col-md-2 col-md-offset-5'>
                <img class='img-responsive' src='https://s3.amazonaws.com/abzolive1/media/profiles/image/imageedit_1_2919094834.png'>
                  </div>
             </div>
        </div>
        <div class='row'>
            
            
        </div>
           <br>
           <p align='center'>
              <a class="btn btn-lg btn-primary" href="/profiles/new" id='firstbutton'>Create Form</a>
           </p>
      </div>

    </div>
  </body>