<body>




    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Create a G-28 Form</h1>
        <p>This is a quick example on the integration between Rails and PDFtk.</p>
        
        <p>
          <a class="btn btn-lg btn-primary" href="/profiles/new" id='firstbutton'>Create Form</a>
        </p>
      </div>

    </div>
  </body>